{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Countries</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'countries/styles.css' %}" rel="stylesheet">
        <script src="{% static 'countries/countries.js' %}"></script>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid" style="flex-wrap: nowrap;">
                <a class="navbar-brand" href="#">Countries</a>
                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="me-auto mb-0 d-flex list-unstyled">
                        <li class="nav-item">
                            <a class="nav-link clicked" aria-current="page" href="#">List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Map</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="main-column">
            <!-- Filters Box -->
            <div id="filters-box">
                <div id="filters-box-title-div">
                    <h5 id="filters-box-title">Filters</h5>
                    <button id="filters-box-close-btn" class="d-lg-none">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div id="select-unselect-filters-div">
                    <a id="select-all-filters" class="button select-unselect-filters">Select all</a>
                    <a id="unselect-all-filters" class="button select-unselect-filters">Unselect all</a>
                </div>
                <div id="filters-box-options-div">
                    <div id="filter-continent">
                        <h6 class="filter-title">Continent<h6>
                    </div>
                    <div id="filter-language">
                        <h6 class="filter-title">Language<h6>
                    </div>
                    <div id="filter-currency">
                        <h6 class="filter-title">Currency<h6>
                    </div>
                </div>
            </div>
            <!-- Main Column (Search Bar + Country Cards) -->
            <div id="countries-column">
                <!-- Page's top elements -->
                <div id="top-container">
                    <div id ="filters-btn-div" class="d-lg-none">
                        <button id="filters-btn">
                            <i class="fas fa-filter"></i>
                        </button>
                    </div>
                    <div id="search-bar-container">
                        <i class="fas fa-search search-icon"></i>
                        <input id="search-bar-input" type="text">
                        <i id="close-search-btn" class="fas fa-times d-none"></i>
                    </div>
                    <div id ="sort-btn-div">
                        <button id="sort-btn">
                            <i class="fas fa-sort"></i>
                        </button>
                        <div id="sort-options-box">
                            <button data-order="asc">Sort Ascending</button>
                            <button data-order="desc">Sort Descending</button>
                            <button data-order="alpha">Sort Alphabetically</button>
                            <button data-order="custom">Custom Sort</button>
                          </div>
                    </div>
                </div>
                <!-- 'No query' warning -->
                <div id="no-query" class="d-none">
                    <p>Type at least 3 characters to begin search</p>
                </div>
                <!-- Home page -->
                <div id="home" class="d-block">
                    <!-- 'All countries' container -->
                    <div id="all-countries-container"></div>
                    <!-- 'Search' container -->
                    <div id="search-container"></div>
                </div>
            </div>
            <!-- Backdrop -->
            <div id="backdrop" class="d-none d-lg-none"></div>
        </div>
    </body>
</html>